/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #333;
  color: white;
}

/* images and videos max out at full width */




/* .container {
  border: 1px solid black;
  position: relative;
  background-color: #eee;
  height: 400px;
}

img {
  position: absolute;
  top: 100px;
  left: 200px;
}

.right-text {
  position: relative;
  text-align: center;
  line-height: 400px;
  border: 1px solid green;
  margin-top: 0px;
} */






/* img {
  width: 300px;
  position: absolute;
  left: 100px;
  top: 50px
  
}

.right-text {
  position: absolute;
  left: 150px;
  top: 120px;
  border: 1px solid green;
  display: inline;
  text-align: center;
  width: 200px;
}

.container {
  background-color: #eeeeee;
  position: relative;
  border: 1px solid black;
  height: 400px;
  width: 600px;
} */


/* OPTION 2 */
img {
  width: 300px;
  position: absolute;
  top: 80px;
  left: 140px
}

.right-text {
  position: relative;
  border: 1px solid green;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  width: 200px;
}

.container {
  background-color: #eeeeee;
  position: relative;
  border: 1px solid black;
  height: 400px;
  width: 600px;
}
