/* import google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
}

/* set header image */
.header-image {
  background-image: url("https://cdn.glitch.global/66868462-b0e9-4251-8f66-b76e5f6f3cdc/StarBucks-Visit-Lakeville-Restaurants.jpg?v=1666931832074");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80%;
}

body {
  line-height: 1.5;
  background-color: #ffffff;
  color: #d2d2d2;
}

/* set text in the header */
.header-text {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #ffffff;
  width: 40%;
}

body h1 {
  font-size: 3em;
}

a {
  color: #368467;
  text-decoration: none;
}

a:hover {
  color: #d5af95;
}

/* highlighting text */

body h1 span {
  color: #368467;
}

/* set visual index text */

.visual-index {
  margin: 5%;
  color: #3b3b3a;
  font-size: 1em;
}

/* highlighting text */

body p span {
  color: #368467;
  font-weight: 500;
}

canvas {
  border: 3px solid #ffffff;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}


/* Legend */

.line img{
  width: 10px;
  height:60px;
  float: left;
  vertical-align: baseline;
}


/*ul li.caf {
  list-style-image: url("https://cdn.glitch.global/66868462-b0e9-4251-8f66-b76e5f6f3cdc/caf.svg?v=1666938140946");
}

ul li.cal {
  list-style-image: url("https://cdn.glitch.global/66868462-b0e9-4251-8f66-b76e5f6f3cdc/cal.svg?v=1666937934954");
}

ul li.carbs {
  list-style-image: url("https://cdn.glitch.global/66868462-b0e9-4251-8f66-b76e5f6f3cdc/carbs.svg?v=1666937721247");
}

ul li.sug {
  list-style-image: url("https://cdn.glitch.global/66868462-b0e9-4251-8f66-b76e5f6f3cdc/sugar.svg?v=1666938140946");
}*/

footer img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

footer {
  background-color: #ffffff;
  width: 100vw;
  height: 80px;
  font-size: 0.8em;
  color: #378367;
  text-align: center;
}
