/* import adobe fonts*/
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  line-height: 1.5;
  background-color: #f0ede8;
  color: #d2d2d;
}

body h1 span {
  color: #368467; 
  
}

canvas {
  border: 3px solid #c6b5a8;
}
