/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */

img {
  position: relative;
  top: 16px;
  left: 16px;
  width: 300px;
}

.right-text {
  position: absolute;
  top: 6px;
  right: 16px;
  font-size: 18px;
  border: 1px solid green;
  display: inline;
  width: 200px;
}

.container {
  background-color: #eeeeee;
  position: relative;
  border: 1px solid black;
  height: 500px;
}